*{
    padding: 0;
    margin: 0;
}


.first {
    width: 100%;
    height: 100vh; 
    background-color: aquamarine;
    display: flex;
    justify-content: center; 
    align-items: center;   
}


.inp-bg {
    width: 500px;
    height: 300px; 
    padding: 40px; 
    background-color: bisque;
    border-radius: 50px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1); 
}


.inp-bg h2{
    padding-left: 180px;
}



.input {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
}

input {
    width: 30vh;
    height: 3vh;
}

.login input{
    width: 20vh;
    height: 4vh;
    border-radius: 30px;
    background-color:darkgray;
}

.login input:hover{
    color:cornsilk;
}