<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
    <div class="first">
        <div class="inp-bg">
            <h1>{{user.name}}</h1>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="input">
        <input type="text" name="title" placeholder="TITLE" id="">
        <input type="file" name="file" id="">
        <button type="submit">ADD</button>
    </form>
    <div class="main" style="display:flex; margin-top: 20px;">
        {% for i in files %}
            <div class="sub" style=" display: flex; flex-direction: column; padding: 5px;">
                <a href="{{i.file.url}}"><img src="{{i.file.url}}" alt="" width="150px" height="150px"></a>
                <p>{{i.title}}</p>
            </div>
        {% endfor %}
    </div>
<div class="logout"> 
    <a href="../logout"><button>LOG OUT</button></a>
 </div> 
    </div>
    </div>
    </div>
</body>
</html>